:root {
  --white-color: #fff;
  --primary-color: #8EC5FC;
}

h1, h2, p { color: var(--white-color); }

body {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--primary-color);
  background-image: linear-gradient(62deg, var(--primary-color) 0%, #E0C3FC 100%);
}

.logo {
  font-size: 4em;
  margin-top: 30vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  border: 2px solid var(--white-color);
  border-radius: 2px;
  text-decoration: none;
  color: var(--white-color);
  /* Make it the size of the content */
  display: inline-block;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
