<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    <title>Good Habits: Login</title>
</head>
<body>
  <div class="centered">
    <h1 class="logo">
      <i>Good</i>
      <strong>Habits</strong>
    </h1>
    <a href="/auth/github" class="button">Login with GitHub</a>
  </div>
</body>
</html>
