<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    <title>Good Habits: Login</title>
</head>
<body>
  <nav class="horizontal-centered">
    <p><i>Good</i><strong>Habits</strong></p>
  </nav>
  <main>
    <section id="main">
      <p class="logo"><i>Good</i><strong>Habits</strong></p>
      <div class="horizontal-centered">
        <a href="/auth/github" class="btn primary">Login with GitHub</a>
      </div>
    </section>
  </main>
  </div>
</body>
</html>
