<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); -%>
  <title>Good Habits: Storybook</title>
</head>
<body>
  <nav class="horizontal-centered">
    <button class="humburger shake">🍔</button>
    <p><i>Good</i><strong>Habits</strong></p>
    <a href="/auth/logout" class="logout">logout</a>
  </nav>
  <main>
    <section id="main">
      <h2>Main elements</h2>
      <p class="logo"><i>Good</i><strong>Habits</strong></p>
      <p>
        And then he said: 
        "I installed storybook and saw that it installed 490 internal dependencies. I am in Hell"
        <br />
        <a href="#">This is a link</a>
      </p>
      <div class="vertical-centered">
        <a href="#" class="btn secondary">Secondary Link as Button</a>
        <a href="#" class="btn primary">Primary Link as Button</a>
      </div>
      <div class="vertical-centered">
        <button type="button" class="btn secondary">Secondary Button</button>
        <button type="button" class="btn primary">Secondary Button</button>
      </div>
    </section>
    <section id="calendar">
      <h2>Calendar</h2>
      <div class="calendar-container">
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
        <div class="calendar-element"></div>
      </div>
    </section>
    <section id="habits">
      <h2>Habits</h2>
      <ul class="habit-list">
        <li class="habit-detail horizontal-centered">
          <a class="btn vertical-centered" href="#"><span>Conquer the World</span></a>
          <button type="button" class="btn plus horizontal-centered vertical-centered">+</button>
        </li>
        <li class="habit-detail horizontal-centered">
          <a class="btn vertical-centered" href="#"><span>See the Stars</span></a>
          <button type="button" class="btn plus horizontal-centered vertical-centered">+</button>
        </li>
        <li class="habit-detail horizontal-centered">
          <a class="btn vertical-centered" href="#"><span>Learn Redux</span></a>
          <button type="button" class="btn plus horizontal-centered vertical-centered">+</button>
        </li>
      </ul>
    </section>
    <section id="habit-detail">
      <h2>Habit details</h2>
      <div class="habit-header">
        <button type="button">« back</button>
        <h2>My Awesome Habit</h2>
        <button type="button">edit</button>
      </div>
    </section>
  </main>
</body>
</html>
